
  <%= form_for( [@task.project, @task], remote: true) do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :note, placeholder: "Note" %>
    <%= f.text_field :start_date, placeholder: "Start Date", class: "datepicker", 
                     value: date_time_convert(@task.start_date) %>
    <%= f.text_field :due_date, placeholder: "Due date", class: "datepicker",
                      value: date_time_convert(@task.due_date) %>
  <% end %>

  <%= form_for [@task.project, @task, @comment], 
                remote: true, 
                authenticity_token: true do |f| %>
    <%= f.text_field :txt, placeholder: "New comment" %>
    <%= f.file_field :attachment, class: "to_right" %>
    <%#= f.submit "Add" %>
  <% end %>

<ul>
<% @task.comments.each do |cm| %>
  <li <div class="comments">
    <%= "#{cm.txt}"%>
    <% if cm.attachment %>
    <%# byebug %>
      <%= link_to cm.attachment_file_name, cm.attachment.url, class: "attachment"  %>
      <%= button_to "", project_task_comment_path( @task.project_id, @task.id, cm.id  ), 
                    class: "delete_btn to_right", method: :delete, remote: true %>
    <% end %>
  </li>
<% end %>
</ul>
