<table class="project_table" id=<%= "project_" + project.id.to_s%>>
  <thead>
    <tr>
      <td><%= image_tag "note.png", alt: "note"%></td>
      <td class="prj_name">
        <%= form_for(project, remote: true) do |f| %>
<!--TODO use <p> instead of label-->
        <%#= f.label "#{project.name}"%>
        <%= content_tag :p, "#{project.name}"  %>
        <%= f.text_field :name, class: "prj_name_text"%>
        <% end %>
      </td>
      <td></td>
      <td><%= button_to "", "#", class: "prj_edit_btn" %></td>
      <td><%= button_to "", project_path(project.id), class: "delete_btn", 
                      method: :delete, data: { confirm: "Are you sure?" }, 
                      remote: true%></td>

    </tr>
  </thead>

  <tr class="new_task_row">

    <td><%= button_to "", "#", class: "plus_task_btn" %></td>

    <td> 
      <%= form_for([project, Task.new], remote: true, 
                    html: {class: "new_task_form"}) do |f| %>
        <%= f.text_field :name, value: "Start typing here to create a task…" %>
      <% end %>
    </td>
    <td colspan="3"><%= button_to "Add task", "#", class: "add_task_btn" %></td>
  </tr>

  <tbody class="sortable">
  <% project.tasks.order(priority: :asc).each do |t| %>
    <% if t.status != 'completed' %>
      <tr class="task_row">
        <td> 
          <%= form_for([project, t], remote: true, html: {class: 'task_order'}) do |f| %>
              <%= f.hidden_field :order, value: 0 %>
          <% end %>
          <%= form_for([project, t], remote: true) do |f| %>
            <%= f.check_box 'status', {class: 'task_checkbox'}, "completed" %>
          <% end %>
        </td>

        <td> 
          <%= form_for([project, t], remote: true, 
                        html: {class: "task_form"}) do |f| %>
            <%= f.text_field :name, disabled: true %>
          <% end %>
        </td>

        <td><%= button_to '', '#', class: 'prio_task_btn', 
                          method: :edit%></td>
        <td><%= button_to '', '#', class: 'edit_task_btn', 
                          method: :edit%></td>
        <td><%= button_to '', [project, t], class: 'delete_task_btn', method: :delete,
                           remote: true, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>


