<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<h1 style="border-bottom: 1px solid">ToDo project</h1>
<%= yield %>

<p style="border-top: 1px solid">
  <h3>Already Done:</h3>
  <ol>
    <li>Upload an empty project to Heroku</li>
  </ol>
</p>

<p>
  <h3>Todo:</h3>
  <ol>
    <li>Upload an empty project to Heroku.</li>
    <li>Create simple todo page this appropriate forms.</li>
    <li>Build Model, View, Controller.</li>
    <li>Add multi user support.</li>
    <li>Add some javascript for interacting.</li>
    <li>Add validation.</li>
    <li>Add authentication.</li>
  </ol>
</p>

</body>
</html>
